body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
}

.stopwatch {
  margin: 50px auto;
  padding: 20px;
  background: skyblue;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  height: 500px auto;
  border: 5px solid black;
}
.mobile{
  height: 600px;
  max-width: 500px;
  margin-left: 400px;
  background-color: red;
}

#display {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#laps {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

#laps li {
  background: #eee;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.start{
  background-color: lightgreen;
  border-radius: 10px;
}
.pause{
  background-color:red;
  border-radius: 10px;
}
.reset{
  background-color:gold;
  border-radius: 10px;
}
.lap{
  background-color:lightgray;
  border-radius: 10px;
}
